{% extends "base.html" %}
{% block title %} Главная {% endblock %}
{% block content%}

<div class="row mt-5">
  <div class="col-md-12 text-center">
    <h1>Добро пожаловать!</h1>
    <p class="lead">Загрузите изображения ноутбуков, и наша нейронная сеть определит класс дефекта (скол, царапина и т.д.).</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    <form action="/upload/" method="post" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}
        <input type="file" id="imageUpload" name="images" accept="image/*" multiple required>
        <div id="imagePreview" class="mt-2">
          </div>
        <button type="submit" class="btn btn-primary mt-2">Загрузить фото</button>
      </form>
  </div>
</div>

<script>
  const imageUpload = document.getElementById('imageUpload');
  const imagePreview = document.getElementById('imagePreview');

  imageUpload.addEventListener('change', (event) => {
    const files = event.target.files;
    imagePreview.innerHTML = '';

    for (const file of files) {
      if (file.type.startsWith('image/')) {
        const reader = new FileReader();

        reader.onload = (e) => {
          const img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('img-thumbnail', 'mb-2');
          img.style.width = '150px';

          imagePreview.appendChild(img);
        }

        reader.readAsDataURL(file);
      }
    }
  });
</script>

{% endblock %}

