{% extends "base.html" %}
{% block title %} Обработка {% endblock %}
{% block content%}
{% load static %}

<div class="row mt-5">
  <div class="col-md-12 text-center">
    <h1>Успех!</h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <div class="row">
      {% for image in images %}
        <div class="col-md-4 mb-4">
          <img src="{% static 'predicted_images/' %}{{ image }}" alt="Обработанное изображение" class="img-fluid">
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
